<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>B3</title>
</head>
<body>
<header>
    <nav id="mainNav" class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light">
        <div class="container">
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#"></a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center">
            <form th:action="@{/papier3/}" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="cin" class="form-control" placeholder="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 text-end">
                <div class="mt-5">
                    <a href="/papier3/Ad" class="btn btn-primary ">Add B3</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11">
                <table class="table table-striped">
                    <thead class="text-success bg-black">
                    <tr>
                        <th>ID</th>
                        <th>CIN</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="b3:${b3}">
                        <td th:text="${b3.id}"></td>
                        <td th:text="${b3.cin}" ></td>
                        <td th:text="${b3.nom}"></td>
                        <td th:text="${b3.prenom}"></td>

                        <td>
                            <a th:href="@{/papier3/show/{id}(id=${b3.id})}" class="btn btn-info">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a th:href="@{/papier3/edit/{id}(id=${b3.id})}" class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form th:action="@{/papier3/delete/{id}(id=${b3.id})}" method="post" style="display: inline-block;">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                            <a th:href="@{/papier3/print-pdf/{id}(id=${b3.id} + '')}" class="btn btn-dark">
                                <i class="fas fa-file-pdf"></i>
                            </a>
                        </td>


                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
